<div>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="mis-datos"> Mis Datos </ion-segment-button>
    <ion-segment-button value="experiencia-laboral">
      Experiencia Laboral
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      Certificaciones
    </ion-segment-button>
  </ion-segment>

  <app-mis-datos *ngIf="selectedSegment === 'mis-datos'"></app-mis-datos>
  <app-experiencia-laboral
    *ngIf="selectedSegment === 'experiencia-laboral'"
  ></app-experiencia-laboral>
  <app-certificaciones
    *ngIf="selectedSegment === 'certificaciones'"
  ></app-certificaciones>
</div>
